@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: hsl(228, 33%, 97%);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  .main-app {
    width: 734px;
    max-width: 100%;
  }

  .comment-wrapper:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .comment:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .textarea {
    width: 506px;
    max-width: 100%;
    margin: 0 18px;
    outline: none;
    border: 1px solid hsl(223, 19%, 93%);
    padding: 0.8rem 1.5rem;
    resize: none;
    height: 106px;
  }

  .comment-edit .textarea {
    width: inherit;
    margin: 18px 0;
  }
}
